/* All animations will take twice as long to finish */
:root {
    --animate-delay: 0.3s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

/* Header */

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
}

.header__logo{
    grid-column: 1;
    padding-left: 15px;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #00000075;
}

.header__nav{
    grid-column: 3/5;
}

.header__ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    padding-right: 10px;
}

.header__li{
    padding: 5px;
}

.header__li__container{
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__li__container:hover{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}

.header__li__img{
    height: 20px;
    width: 20px;
}

.header__li__counter{
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #00000075;
    transition: background .3s;
}

.header__li__a{
    padding: 5px;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #00000075;
    transition: background .3s;
}

.header__li__a:hover{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Footer */

.footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: auto;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.footer__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.footer__a{
    padding-left: 2rem;
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px #00000075;
}

.footer__mail{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.5;
    padding-left: 2rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #00000075;
    font-size: 1.75rem;
    font-weight: 400;
}

/* Hero */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.hero__div__title{
    font-size: 3.5rem;
}

.hero__div__description{
    margin-top: 2.5em;
    font-size: 1.75rem;
}

.ad__title{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
}

.ad__div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

/* Buy */

.buy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.buy__div{
    display: flex;
    flex-flow: row wrap;
    padding: 25px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.buy__div__container{
    display: flex;
    flex-direction: column;
    height: 275px;
    width: 200px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buy__div__img{
    padding-top: 5px;
    height: 150px;
    width: 150px;
}

.buy__div__title{
    color: #ffffff;
    padding-top: 5px;
    font-size: medium;
    font-weight: bold;
}

.buy__div__platform{
    padding-top: 5px;
    font-size: small;
}

.buy__div__price{
    padding-top: 5px;
    font-size: medium;
    padding-bottom: 10px;
}

.buy__div__button{
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    padding: 5px;
    color: #ffffff;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border-style: none;
    transition: background .3s;
}

.buy__div__button:hover{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.2);
}

/* Card */

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.card__div{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.card--hide{
    display: none;
}

.card__inside{
    display: grid;
    width: 325px;
    height: 175px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 5fr 1fr;
}

.card__brand{
    grid-column: 1;
    grid-row: 1;
    font-size: large;
}

.card__numbers{
    grid-column: 1;
    grid-row: 3;
    font-size: medium;
}

.card__dates{
    grid-column: 1;
    grid-row: 4;
    font-size: small;
}

.card__name{
    grid-column: 1;
    grid-row: 5;
    font-size: medium;
}

.card__code{
    width: 75px;
    height: 75px;
    grid-column: 2;
    grid-row: 1;
}

/*Login Modal */

.lmodal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0;
    pointer-events: none;
}

.lmodal--show{
    opacity: 1;
    pointer-events: unset;
}

.lmodal__container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    padding: 3em 2.5em;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.lmodal__form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.lmodal__title{
    font-size: x-large;
    color: #ffffff;
    margin-bottom: 30px;
}

.lmodal__desc{
    font-size: large;
    color: #ffffff;
    margin-bottom: 5px;
}

.lmodal__error{
    font-size: large;
    color: crimson;
    margin-bottom: 5px;
}

.lmodal__input{
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    color: #ffffff;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
}

.lmodal__submit{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    padding: 5px;
    color: #ffffff;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    transition: background .3s;
    margin-top: 5px;
}
.lmodal__submit:hover{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.2);
}

.lmodal__close{
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    padding: 5px;
    color: #ffffff;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border-style: none;
    transition: background .3s;
}

.lmodal__close:hover{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.2);
}

/*Cart Modal */

.cmodal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.75);
}

.cmodal--show{
    opacity: 1;
    pointer-events: unset;
}

.cmodal__container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    min-width: 200px;
    height: fit-content;
    min-height: 200px;
    padding: 3em 2.5em;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.cmodal__cardcontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.cmodal__product{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.cmodal__title{
    font-size: medium;
    color: #000000;
    margin-bottom: 30px;
}

.cmodal__desc{
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 5px;
}

.cmodal__button{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px;
    color: #000000;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 2px 2px 3px rgba( 31, 38, 135, 0.5 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    transition: background .3s;
    margin-top: 5px;
}
.cmodal__button:hover{
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 2px 2px 3px rgba( 31, 38, 135, 1 );
}

.cmodal__button__buy{
    opacity: 0;
    pointer-events: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px;
    color: #000000;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 2px 2px 3px rgba( 31, 38, 135, 0.5 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    transition: background .3s;
    margin-top: 5px;
}
.cmodal__button__buy:hover{
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 2px 2px 3px rgba( 31, 38, 135, 1 );
}

.cmodal__button__buy__show{
    opacity: 1;
    pointer-events: unset;
}

.cmodal__erasebutton{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px;
    color: #000000;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 2px 2px 3px rgba( 31, 38, 135, 0.5 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    transition: background .3s;
    margin-top: 5px;
}
.cmodal__erasebutton:hover{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 2px 2px 3px rgba( 31, 38, 135, 1 );
}

/* Toastify */

.toastify{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    background: rgba( 255, 255, 255, 0.15 );
}